font.titlebar-font {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  font-weight: lighter;

  color: white;
}

font.titlebar-fonteng {
  font-size: 40px;
}

font.author {
  font-size: 17px;
  font-weight: lighter;
}
