@media only screen and (max-width: 600px) {

  font.titlebar-font {
    font-size: 40px;
  }

  font.titlebar-fonteng {
    font-size: 30px;
  }

  font.content-font {
    font-size: 14px;
  }
}
