@media only screen and (max-width: 600px) {

  font.titlebar-font {
    font-size: 40px;
  }

  font.titlebar-fonteng {
    font-size: 30px;
  }

  font.content-font {
    font-size: 17px;
  }

  font.clickon {
    color:darkgray;
    font-size: 15px;

    font-weight: bolder;
    font-style: italic;
  }

}
