font.titlebar-font {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  font-weight: lighter;

  color: white;
}

font.titlebar-fonteng {
  font-size: 40px;
}

font.content-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

font.imgcaption {
  font-size: 15px;
}

font.clickon {
  color:darkgray;
  font-size: 18px;

  font-weight: bolder;
  font-style: italic;
}

font.author {
  font-size: 14px;
  font-weight: lighter;
}

font.faceimg-font {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 7.5vw;

  text-shadow: 2px 2px gray;
}

font.faceimg-font-lis {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 6vw;

  text-shadow: 2px 2px gray;
}

@media only screen and (min-width: 1250px) {
  font.faceimg-font-lis {
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 75px;

    text-shadow: 2px 2px gray;
  }
}

font.faceimg-fontoverline {
  text-decoration: overline;
  text-decoration-style: dotted;
  text-decoration-color: white;
}

font.faceimg-fontoverline-lis {
  text-decoration: overline;
  text-decoration-style: dotted;
  text-decoration-color: white;
}

font.faceimg-insta {
  font-size: 30px;
}

font.faceimg-font-m {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 7.5vw;

  text-shadow: 2px 2px gray;
}

font.faceimg-insta-m {
  font-size: 30px;
}

font.heading {
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
}

font.heading-1 {
  font-size: 32px;
}

@media only screen and (min-width: 1250px) {
  font.faceimg-font {
    font-size: 95px;
  }
  font.heading {
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
  }

  font.heading-1 {
    font-size: 36px;
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
